.janelaModal{
    width: 100%;
    height: 100vh;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.301);

    z-index: 999;
}

.content{
    width: 678px;
    height: 678px;
    padding: 54px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
}

.header{
    display: flex;
    justify-content: space-between;
}

.button{
    display: flex;
    justify-content: end;
}

.submit{
    width: 74px;
    height: 40px;

    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 6px;
}

.submit:hover{
    cursor: pointer;
    background-color: var(--green-hover);
    transition: 0.2s;
}

.close{
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}


