.container{
    width: 100%;
    height: 100vh;
    padding: 71px 133px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--white-500);
}

.userPage{
    width: 100%;
    height: 100%;

    border-radius: 15px;
    box-shadow: 0 11.07px 14.4px var(--black-200);
}

.header{
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--gray);
}

.headerName{
    display: flex;
    gap: 23px;
}

.avatar{
    width: 92px;
    height: 92px;
    margin-left: 54px;
    margin-top: 24px;

    color: white;
    font-size: 1.6825rem;
    font-weight: 600;
    background-color: var(--green);
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.userName{
    font-weight: 700;
    font-size: 1.5rem;

    position: absolute;

    margin-top: 55px;
    margin-left: 169px;
}

.header button{
    width: 162px;
    height: 40px;
    font-size: 1rem;

    color: white;
    background-color: var(--green);

    border: none;
    border-radius: 6px;

    padding: 8px 12.5px;
    margin: 30px;
}

.header button:hover{
    cursor: pointer;
    background-color: var(--green-hover);
    transition: 0.2s;
}

.info{
    width: 1000px;
    height: 320px;
    padding: 54px;

    display: flex;
    flex-wrap: wrap;
}

.info h1{
    font-weight: 700;
    font-size: 1.5rem;

    width: 100%;
}

.name, .email, .level, .password, .confirmPass{
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 24px;
    margin-right: 22px;
}

.name input, .level input, .password input{
    width: 430px;
    height: 40px;
    font-size: 1rem;

    color: var(--gray-200);

    border-radius: 6px;
    border: 1px solid var(--gray);

    padding: 8px;
}

.passArea{
    display: flex;
}

.confirmPass input, .email input{
    width: 359px;
    height: 40px;
    font-size: 1rem;

    color: var(--gray-200);

    border-radius: 6px;
    border: 1px solid var(--gray);

    padding: 8px;
}

.name label, .level label, .password label, .confirmPass label, .email label{
    font-weight: 600;
    font-size: 1rem;
}



