.container{
    width: 100%;
    height: 100vh;
    padding: 71px 133px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--white-500);
}
/* ------------------------------------------------------------------------------- tabela */
.table{
    width: 100%;
    height: 100%;

    background-color: white;

    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 11.07px 14.4px var(--black-200);
}

.table header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32.86px;
    margin-left: 39.28px;
}

.table header button{
    width: 162.17px;
    height: 31px;
    font-size: 1rem;

    border-radius: 15.81px;
    border: none;

    color: white;
    background-color: var(--green);
}

.table header button:hover{
    cursor: pointer;
    background-color: var(--green-hover);
    transition: 0.2s;
}
/* ------------------------------------------------------------------------------- lista */
.table table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table thead{
    background-color: var(--white-500);
    border-top: 1px solid var(--gray);
}

.nameTable{
    text-align: left;
    display: flex;
    margin-left: 39.28px;
}

.table thead th{
    font-size: 1.1225rem;
    font-weight: 500;
    padding: 21.36px 21.36px 21.36px 0px;

    color: var(--gray-300);
    text-transform: uppercase;
}